<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>The Store</h1>
    <% data.forEach((obj, index) => { %>
      <li><%= data[index].name %></li>
      <li><%= data[index].price %></li>
      <li><%= data[index].stock %></li>
      <a href="store/<%= data[index].id %>"><button>Info</button></a>
      <br><br>
    <% }); %>
</body>
</html>